@font-face
  font-family: 'JetBrains Mono'
  src: url('@/assets/fonts/jetbrains-mono/JetBrainsMono-Regular.woff2') format('woff2')
  font-weight: 500
  font-style: normal
  font-display: swap

@font-face
  font-family: "Choplin-ExtraBold"
  font-display: swap
  font-weight: 800
  src: url("@/assets/fonts/choplin/2B3C23_7_0.woff") format("woff")

body
  font-family: 'JetBrains Mono', apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"
  color: var(--color-grey-800)
  font-size: var(--gap-200)
  word-break: break-word

h1
  font-family: 'Choplin-ExtraBold', serif
  font-size: clamp(var(--gap-300), 14vw, var(--gap-650))
  color: var(--color-primary-200)
  text-transform: uppercase
  line-height: 0.85

h2
  position: relative
  font-family: 'Choplin-ExtraBold', serif
  font-size: clamp(var(--gap-200), 10vw, var(--gap-450))
  text-transform: uppercase
  text-align: center
  color: var(--color-grey-400)
  opacity: 0.50
  margin-bottom: var(--gap-350)

h3
  font-family: 'Choplin-ExtraBold', sans-serif
  font-size: clamp(var(--gap-150), 5vw, var(--gap-300))
  text-transform: uppercase

p
  font-weight: 400
  line-height: 1.5

  @media screen and (orientation: landscape)
    max-width: 80%

small
  font-size: var(--gap-200)

.text-uppercase
  text-transform: uppercase

a
  text-decoration: none
  color: var(--color-grey-700)
