.skills
  &--content
    flex-wrap: wrap
    max-width: var(--gap-900)

    > *
      flex: 1 1 var(--gap-750)

  &--txt
    p
      color: var(--color-grey-600)

  &--list
    display: grid
    grid-template-columns: var(--gap-400) auto 1fr var(--gap-450)

    &-item
      gap: var(--gap-200)
      display: grid
      grid-template-columns: subgrid
      grid-column: 1 / -1
      min-height: var(--gap-400)
      align-items: center

  &--icon

  &--label
    align-items: center
    display: flex
    color: var(--color-grey-500)

    small
      white-space: nowrap
      line-height: 1
      font-size: var(--gap-150)

  &--bar
    display: flex
    align-items: center
    position: relative

    span
      position: absolute
      width: 100%
      height: var(--gap-100)
      background-color: var(--color-grey-200)
      border-radius: var(--gap-050)

      span
        background-color: var(--color-primary)
