.work
  &--list
    background-image: url("@/assets/img/work--layer-landscape-grey.avif")
    background-size: cover
    background-position: center bottom
    background-color: var(--color-grey-900)
    position: absolute
    width: 100%
    height: 100%
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(var(--gap-650), 1fr))

    &-item
      background-color: rgb(#050f0a, 0.5)
      position: relative
      cursor: pointer
      overflow: hidden
      transition: background-color 0.5s ease-in-out
      padding: var(--gap-450) var(--gap-250)
      border-bottom: 1px solid rgba(255,255,255, 0.1)

      @media screen and (orientation: portrait)
        padding: var(--gap-250)

      &:not(:last-child)
        border-right: 1px solid rgba(255,255,255, 0.1)

      img
        position: absolute
        width: 100%
        height: 100%
        object-fit: cover
        object-position: center
        transform: scale(1.1)
        transition: transform 0.5s ease-in-out

      &:hover
        background-color: rgb(#050f0a, 0)

        img
          transform: scale(1)

    &-content
      max-width: 100%

      h3,
      small
        color: var(--color-primary-200)
        line-height: 1

      small
        width: calc(100%)
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
        display: inline-block




  &--layer
    background-color: var(--color-primary-900)
    background-image: url("@/assets/img/work--layer-landscape.avif")
    background-size: cover
    background-position: center bottom
    position: fixed
    top: 0
    left: 0
    width: 100vw
    height: 100vh
    z-index: 50
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%)
    animation-fill-mode: forwards
    animation-timing-function: linear
    overflow: hidden

    @media screen and (orientation: portrait)
      flex-direction: column

    &.is--expand
      animation-name: workClipIn
      animation-duration: 1.5s

      .work--layer-content
        animation: fadeIn 1s cubic-bezier(0.5, 0, 0.75, 0) 1s forwards

    &.is--collapse
      animation-name: workFadeOut
      animation-duration: 1.5s

      .work--layer-content
        animation: fadeOut 0.4s cubic-bezier(0.5, 0, 0.75, 0) 0s forwards

    &-preview
      flex: 1
      position: relative

    &-content
      background-color: var(--color-grey-000)
      color: var(--color-grey-800)
      padding: var(--gap-300) var(--gap-300) var(--gap-400) var(--gap-300)
      flex: 1
      border-radius: var(--gap-200) var(--gap-200) 0 0
      opacity: 0
      max-height: 50vh
      gap: var(--gap-200)

      h3
        line-height: 1
        font-size: var(--gap-300)

      @media screen and (orientation: landscape)
        margin-top: 33vh
        max-height: 67vh
        border-radius: var(--gap-200) 0 0 0
        padding: var(--gap-400)
        gap: var(--gap-300)

        h3
          font-size: var(--gap-400)

      &__desc
        flex: 1
        overflow-y: auto

      &__footer
        justify-content: flex-start

        @media screen and (orientation: portrait)
          height: var(--gap-350)
          justify-content: center


    &-img
      position: absolute
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center


@keyframes workClipIn
  0%
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%)
    opacity: 0

  5%
    clip-path: polygon(50% calc( 50% - 6px ), 50% calc( 50% - 6px ), 50% calc( 50% + 6px ), 50% calc( 50% + 6px ))
    opacity: 1
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1)

  50%
    clip-path: polygon(25% calc( 50% - 6px ), 75% calc( 50% - 6px ), 75% calc( 50% + 6px ), 25% calc( 50% + 6px ))
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1)

  100%
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    opacity: 1

@keyframes workFadeOut
  0%
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1)
    opacity: 1


  50%
    clip-path: polygon(25% calc( 50% - 6px ), 75% calc( 50% - 6px ), 75% calc( 50% + 6px ), 25% calc( 50% + 6px ))
    animation-timing-function: cubic-bezier(0.25, 1, 0.5, 1)
    opacity: 1

  95%
    clip-path: polygon(50% calc( 50% - 6px ), 50% calc( 50% - 6px ), 50% calc( 50% + 6px ), 50% calc( 50% + 6px ))
    opacity: 1

  100%
    clip-path: polygon(50% 50%, 50% 50%, 50% 50%, 50% 50%)
    opacity: 0
