.header
  position: fixed
  top: 0
  width: 100%
  height: var(--gap-400)
  z-index: 100
  color: var(--color-primary-900)
  container-type: inline-size

  &--content
    width: 100%
    border-radius: var(--gap-050)
    border: 1px solid var(--color-gray-100)

  &--icon
    overflow: hidden
    position: relative
    height: 100%

    > *
      position: absolute
      height: 100%
      place-content: center
      transition: transform 0.6s cubic-bezier(0.45, 0, 0.55, 1)

      &:last-child
        transform: translateY(100%)

  &--logo
    flex: 0 1 var(--gap-500)

    &-icon
      height: var(--gap-300)
      width: 100%

      svg
        height: 1em

  &--nav
    font-size: var(--gap-200)
    text-transform: uppercase

    &-icon
      aspect-ratio: 1
      width: var(--gap-250)

      path
        fill: none

  a
    padding: 0 var(--gap-250)

    @media screen and (max-width: 415px)
      padding: 0 var(--gap-150)

    span
      font-size: var(--gap-150)

    &:hover,
    &.is--active
      color: var(--color-primary-300)

      .icon
        transform: translateY(-100%)

        &:last-child
          transform: translateY(0)
