.section
  min-height: 100svh
  width: 100%
  position: relative
  transition: opacity 5s ease-in-out
  padding-top: var(--gap-400)
  padding-bottom: var(--gap-400)
  background-color: var(--color-grey-100)

  &.is--active
    opacity: 1
