.button
  padding: var(--gap-200) clamp(var(--gap-200), 1vw, var(--gap-300))
  font-size: var(--gap-200)
  max-height: var(--gap-400)
  border-radius: var(--gap-300)
  user-select: none
  white-space: nowrap

  &[data-variant="outline"]
    backdrop-filter: blur(15px)
    background-color: rgba(28, 55, 43, 0.4)
    border-style: solid
    border-width: 1px
    border-color: var(--color-primary-600)
    color: var(--color-primary-500)

    &:hover
      background-color: var(--color-primary-500)
      color: var(--color-primary-100)
